/* src/index.css */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  max-width: auto;
  margin: 0 auto;
}

/* Estilo dos inputs e botões */
input {
  font-size: 30px;
}

input[type="radio"] {
  accent-color: #4CAF50;
  transform: scale(3);

}

button {
  padding: 12px;
  font-size: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilo dos botões */
button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  form {
    padding: 12px;
    max-width: 100%;
  }

  input,
  button {
    font-size: 18px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #333;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}